<%- include("../header.ejs") %>

<div
  class="d-flex justify-content-center align-items-center vh-100 flex-column"
>
  <h5>Create Blog</h5>
  <form action="/blog/create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" name="title" />
      <!-- invaid feedback -->
      <div class="invalid-feedback">
        <%= errorobj.title && errorobj.title %>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Thumbnail</label>
      <input type="file" class="form-control" name="thumbnail" />
      <!-- invaid feedback -->
      <div class="invalid-feedback">
        <%= errorobj.thumbnail && errorobj.thumbnail %>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="3" name="description"></textarea>
      <!-- invaid feedback -->
      <div class="invalid-feedback">
        <%= errorobj.description && errorobj.description %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("../footer.ejs") %>
